* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.PageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(49, 49, 49);
}

.Page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
